#footer {
    height: 35px;
    padding: 5px;
}

#footer .logo {
    height: 100%;
    display: block;
    margin: auto;
}

label.error {
    color: red;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.4;
    margin-top: 0.5em;
    width: 100%;
    float: none;
}

.sumup {
    text-align: right;
    font-style: italic;
    font-weight: lighter;
    font-size: small;
    float: right;
    margin-right: 4em;
}