#footer {
    height: 35px;
    padding: 5px;
}

#footer .logo {
    height: 100%;
    display: block;
    margin: auto;
}

label.error {
    color: red;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.4;
    margin-top: 0.5em;
    width: 100%;
    float: none;
}

.sumupOK {  
    color: green;
    border-color: green;
}
.sumupKO {  
    color: red;
    border-color: red;
}
.sumup {
    border-style: solid;
    border-width: thin;
    border-radius: 0.7em;
    
    padding: 0.3em;
    margin-top: 0.7em;
    margin-right: 4em;
    
    text-align: right;
    font-style: italic;
    font-weight: lighter;
    font-size: small;
    float: right;
}